@import "foundation";
@import "icomoon";

body, input, select, textarea {
  font-family: Roboto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab';
}

body, input, select, textarea, h1, h2, h3, h4, h5 {
  color: #444;
}

#nprogress {
  .bar {
    background: #444;
  }
  .peg {
    box-shadow: 0 0 10px #444, 0 0 5px #444;
  }
  .spinner-icon {
    border: {
      top: {
        color: #444;
      }
      left: {
        color: #444;
      }
    }
  }
}

.app {
  margin: {
    top: 5em;
    bottom: 5em;
  }
  position: relative;
  @media only screen and (max-width:"#{$small-screen}") {
    & {
      margin: {
        top: 1em;
        bottom: 1em;
      }
    }
  }
  h1 {
    background: url(../../../images/drake.png) no-repeat left top;
    padding-left: 40px;
    margin-top: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
    @media only screen and (max-width:"#{$small-screen}") {
      text-align: right;
    }
  }
  button, input[type=text], input[type=password] {
    line-height: 1.5em;
    padding: 0 5px;
  }
  input[type=text], input[type=password] {
    border: 1px #444 solid;
    border-radius: 0;
    &:focus {
      outline: 0;
      border-color: #ccc;
    }
  }
  button {
    border: 1px #444 solid;
    background: #444;
    color: white;
    &:disabled {
      color: #bbb;
    }
  }
  .logged-in {
    color: #aaa;
    border: 1px solid;
    background: white;
    display: inline-block;
    padding: 0 10px;
    line-height: 2em;
    @media only screen and (max-width:"#{$small-screen}") {
      & {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
      }
    }
  }
  .actions {
    button {
      width: 100%;
    }
  }
  .section {
    display: none;
  }
  .error {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: none;
    span {
      display: inline-block;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 5px 10px;
    }
  }
  .filter-help {
    position: absolute;
    display: none;
    top: 1em;
    left: 2em;
    right: 2em;
    padding: 0 1em 1em 1em;
    color: white;
    h2, h3, h4, h5 {
      color: white;
    }
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
  .entries {
    ul {
      list-style: none;
    }
    .filter {
      position: relative;
      input {
        display: block;
        width: 100%;
        font-size: 120%;
        padding: 0 0.5em;
      }
      .help {
        font-weight: bold;
        color: inherit;
        position: absolute;
        right: 5px;
        top: 0;
        text-decoration: none;
        line-height: 1.5em;
      }
    }
    .actions {
      margin: {
        top: 1em;
        bottom: 1em;
      }
      .genpass {
        position: relative;
        button {
          .toggle-settings {
            color: inherit;
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px #bbb dotted;
            display: inline-block;
            text-decoration: none;
          }
        }
        .settings {
          display: none;
          position: absolute;
          left: 15px;
          right: 15px;
          background: white;
          border: 1px #444 solid;
          padding: 0 15px;
        }
        .output {
          line-height: 1.5em;
        }
      }
    }
    .entry {
      div {
        border: 1px #444 solid;
        padding: 1em;
        h2 {
          margin: 0 20px 1em 0;
        }
        .remove {
          a {
            text-decoration: none;
            color: #ddd;
            float: right;
            &:hover {
              color: #888;
            }
            &.hide {
              display: none;
            }
          }
        }
        .details {
          margin: 0;
          padding: 0;
          li {
            margin-bottom: 1em;
          }
          label, input[type=text], input[type=password] {
            box-sizing: border-box;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
  .footer {
    color: #bbb;
    font-size: 80%;
    margin-top: 5em;
    padding-top: 1em;
    a {
      color: #888;
    }
    @media only screen and (max-width:"#{$small-screen}") {
      margin-top: 1em;
      text-align: center;
    }
  }
}
